# Node.js dependencies
node_modules/
dist/

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
debug.log*

# Editor and system files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build and cache files
.cache/
out/
build/

# Misc
*.log
*.lock
